
.menu > a.disabled {
    pointer-events: none;
    cursor: default;
    text-decoration: underline;
    color: #222;
}

router-outlet {
    margin: 10px;
}

@media (min-width: 40.0rem) {
    .sidebar {
        padding-top: 8px;
    }
}

div > .menu, .login, .arr, .blaskan, .poll {
    border: 1px solid;
    padding: 10px;
    margin-bottom: 20px;
    box-shadow: 5px 10px #888888;
}
