.arr {
    padding: 10px;
    font-size: 0.7em;
}

.datum {
    padding-right: 15px;
}
.namn_plats {
    padding-left: 10px;
}
.deltagare {
    clear:both;
}
.lurpassare {
    color: rgb(173, 86, 121);
}
.hetsade {
    color: rgb(173, 86, 121);
}
